/* 
    Document   : main.css
    Created on : Jul 4, 2012, 3:54:42 PM
    Author     : murzik
    Description:
        Purpose of the stylesheet follows.
*/

.state-loading {
    background-image: url('../img/loading.gif');
    width: 160px;
    height: 24px;
}

.tools-overlay {
   /*opacity: 0.6;*/
   background-color: #000;
   position: absolute;
}
.tools-close {
    background-image: url("../img/close.png");
    cursor: pointer;
    height: 35px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 35px;
}
.tools-dialog {
    border: 1px solid #666666;
    box-shadow: 0 0 90px 5px #000000;
                    display: none;
    min-height: 200px;
    width: 675px;
    position: absolute;
    z-index: 10000;
    background-color: #fff;
}